################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ecom/.vs/Ecom
/Ecom/Ecom.Server/obj
/.vs
/Ecom/Ecom.Server/bin
/Ecom/ecom.client/obj/Debug
