################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ecom/Ecom.api/.vs/Ecom.api
/Ecom/Ecom.api/Ecom.api/bin/Debug/net8.0
/Ecom/Ecom.api/Ecom.api/obj
/Ecom/Ecom.api/Ecom.BusinessLayer/bin/Debug/net8.0
/Ecom/Ecom.api/Ecom.BusinessLayer/obj
/Ecom/Ecom.api/Ecom.DataAccess/bin/Debug/net8.0
/Ecom/Ecom.api/Ecom.DataAccess/obj
/Ecom/Ecom.api/Ecom.SharedLibrary/bin/Debug/net8.0
/Ecom/Ecom.api/Ecom.SharedLibrary/obj
/Ecom/Ecom/.vs/Ecom
/Ecom/Ecom/Ecom.api/obj
/Ecom/Ecom.api/.vs/ProjectEvaluation
/Ecom/Ecom/Ecom.api/bin/Debug/net8.0
/Lms/.vs/Lms
/Lms/Lms.Api/bin/Debug
/Lms/Lms.Api/obj
/Lms/.vs/ProjectEvaluation
